.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.enlacesContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.liContainer{
    margin-right: 10px;
    text-decoration: none;
    list-style: none;
}

.enlace{
    color: rgb(21, 20, 20);
}

.active{
    color: rgb(36, 214, 12)
}